{.section data}
	{.section items}
		{.repeated section @}
			<div class="img_grid_chooser" typeof="karacos:file"
			about="urn:uuid:{id}:{label}"><img class="kc_browser_item" style="width: 50px; height: 50px" src="{value}"></div>
		{.or}
		  <p><em>(No items found)</em></p>
		{.end}
	{.or}
	  <p><em>(No items found)</em></p>
	{.end}	
{.or}
  <p><strong>Error in service</strong></p>
{.end}