<h4>{_id}</h4>

{.section cart_array}
	{.repeated section @}
		<div><span property="title">{title}</span> <span property="number">{number}</span></div>
	{.end}
	
{.end}

<button>Prendre en compte la commande</button>